/*
 navbar bg - #1f3349 
 highlighet text -#00c57f
 footer color - #6a6b6b
 main text - #404040
 secondary text - #5d5d5d
*/
.resultContainer {
  display: flex;
  justify-content: center;
}
.resultTextContainer{
  margin: 95px 0;
  text-align: center;
}
.resultContainer img{
  width: 100%;
  border-radius: 5px;
}

.locationA{
  font-size: 2.3rem;
  color: #1f3349;
  margin-left: 20px;
}
.locationB{
  font-size: 2.3rem;
  color: #5d5d5d;
}

.contentPart{
  color: #5d5d5d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}